{% extends "template.html" %}

{% block content %}
    <div id="edit" class="mt-3">
        <button class="btn btn-secondary" onclick="window.history.back()">Enrere</button>
    </div>
    <div class="content pt-4">
        <div class="row">
            <div class="col">
                <h1 id="product_name"></h1>
                <img id="img" width="300" src="" alt="imatge producte">
                <h2 id="price"></h2>
                <p id="description"></p>
                <br><br>
            </div>
            <div class="col">
                <h5 id="seller" class="">En venta per <a href=""></a></h5>
            </div>
        </div>

        <div class="col-sm-9">
            <hr class="hr"/>
            {% if user.is_authenticated %}
                <h4>Afegeix un comentari:</h4>
                <form method="POST" role="form">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Comentar</button>
                </form>
            {% else %}
                <h5><a href="{% url 'login' %}">Inicia sessió per a afegir un comentari.</a></h5>
            {% endif %}
            <br><br>

            <div id="comments" class="row"></div>

        </div>
    </div>
    <div id="content"></div>
    <script>
        var logged_user;
        if (localStorage.getItem('token')) {
            $.ajax({
                url: 'http://127.0.0.1:8000/api/retrieve-user',
                method: 'GET',
                async: false,
                headers: {
                    'Authorization': 'Token ' + localStorage.getItem('token')
                },
                success: function (response) {
                    logged_user = response
                    console.log(response)
                },
                error: function (xhr, textStatus, errorThrown) {
                    // Handle the error
                    console.error('Error:', errorThrown);
                }
            });
        }


        $(document).ready(function () {
            var url = window.location.href;
            var id = url.substring(url.lastIndexOf('/') + 1);

            $.ajax({
                url: '/api/ads/' + id + '/?format=json',
                method: 'GET',
                dataType: 'json',
                success: function (ad) {
                    show_ad(ad);
                },
                error: function () {
                    console.log("No s'han pogut obtenir les dades de l'anunci");
                    $('#content').text("No s'han pogut obtenir les dades de l'anunci");
                }
            });
        });


        function show_ad(ad) {
            $('#product_name').text(ad.product_name)
            $('#img').attr('src', ad.image)
            $('#price').text(ad.price)
            $('#description').text(ad.description)
            $('#seller').text("En venta per " + ad.id_ad_user.username)

            //Botons editar i eliminar
            if (logged_user) {
                if (logged_user.id == ad.id_ad_user.id) {
                    let aux = '<a class="btn btn-outline-primary" href="">Editar</a>' + '<a class="btn btn-outline-danger" href="">Eliminar</a>';
                    $('#edit').append(aux);
                }
            }


            //Comments
            let text = "";

            if (ad.comments.length == 0) {
                $('#comments').append('<p>No hi ha comentaris.</p>');
            } else (
                ad.comments.forEach(function (comment) {
                    text = '<hr class="hr"/>' +
                        '<div class="col-sm-2 text-center">' +
                        '<img src="' + comment.id_comment_user.userinfo.avatar + '" class="img-circle rounded-circle" height="65" width="65" alt="Avatar"> </div>' +
                        '<div class="col-sm-10">' +
                        '<h5><a href="/user/' + comment.id_comment_user.id + ' ">' + comment.username + '</a>' +
                        '<small> - ' + comment.created_at + '</small></h5>' +
                        '<p>' + comment.comment + '</p>' +
                        '<br>' +
                        '</div>' +
                        '<div>';

                    let aux = '<a href="" class="font-italic">(editar)</a>' +
                        '<a href="" class="font-italic">(eliminar)</a>';

                    if (logged_user) {
                        if (logged_user.id == comment.id_comment_user.id) {
                            $('#comments').append(text + aux + "</div>");
                        } else {
                            $('#comments').append(text + "</div>");
                        }
                    } else {
                        $('#comments').append(text + "</div>");
                    }


                })
            )


            //$('#content').text("Ad: " + JSON.stringify(ad));
        }
    </script>
{% endblock %}