{% extends "template.html" %}

{% block content %}
    <button class="btn btn-secondary" onclick="window.history.back()">Tornar</button>
    <h1>{{ ad.product_name }}</h1>
    <img width="300" src="{{ MEDIA_URL }}/{{ ad.image }}">
    <p>{{ ad.price }}</p>
    <p>{{ ad.description }}</p>
    <div class="content">
    <div class="col-sm-9">
      <h4>Afegeix un comentari:</h4>
      <form role="form">
        <div class="form-group">
          <textarea class="form-control" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-outline-primary">Comentar</button>
      </form>
      <br><br>

      <div class="row">
      {% if comments %}
          {% for c in comments %}
        <div class="col-sm-2 text-center">
          <img src="{{ MEDIA_URL }}/avatars/default_avatar.png" class="img-circle" height="65" width="65" alt="Avatar">
        </div>
        <div class="col-sm-10">
          <h4>Kevin <small>Sep 29, 2015, 9:12 PM</small></h4>
          <p>{{ c.comment }}</p>
          <br>
        </div>
          {% endfor %}
          {% else %}
          <p>No hi ha comentaris</p>
      {% endif %}
      </div>
        </div>
      </div>
{% endblock %}