{% extends "template.html" %}

{% block content %}
    <h1>Anuncis</h1>

    <div id="content"></div>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/api/ads/',
                method: 'GET',
                dataType: 'json',
                success: function (ads) {
                    show(ads);
                },
                error: function () {
                    console.log("No s'han pogut obtenir les dades");
                    $('#content').text("No s'han pogut obtenir les dades");
                }
            });
        });

        function show(ads) {
            const cards = $('<div></div>').addClass('row row-cols-1 row-cols-md-3');

            ads.forEach(function (ad) {
                const card1 = $('<div></div>').addClass('col mb-4');
                const card = $('<div></div>').addClass('card h-100');
                const cardImage = $('<img>').addClass('card-img-top').attr('src', ad.image);
                const cardBody = $('<div></div>').addClass('card-body');
                const name = $('<h5></h5>').addClass('card-title').text(ad.product_name);
                const description = $('<p></p>').addClass('card-text').text(ad.description);
                const price = $('<a></a>').addClass('btn btn-primary').text(ad.price + '€').attr('href', '/ad/' + ad.id);

                cardBody.append(name, description, price);
                card.append(cardImage, cardBody);
                card1.append(card)
                cards.append(card1);
            });
            $('#content').append(cards)
        }

        function get_ad(adId) {
            const container = $('#container');
            container.empty();


            $.ajax({
                url: '/api/ads/' + adId + '/?format=json',
                method: 'GET',
                dataType: 'json',
                success: function (ad) {
                    show_ad(ad);
                },
                error: function () {
                    console.log("No s'han pogut obtenir les dades de l'anunci");
                    $('#content').text("No s'han pogut obtenir les dades de l'anunci");
                }
            });
        }

        function show_ad(ad) {
            $('#content').text("Ad: " + JSON.stringify(ad));
        }
    </script>
{% endblock %}