{% extends "template.html" %}

{% block content %}
    <h1>Anuncis</h1>
    <div id="ads-list">

    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card h-100">
                <img src="" class="card-img-top" alt="Product image">
                <div class="card-body">
                    <h5 class="card-title">TITOL</h5>
                    <p class="card-text">DESCRIPCIO</p>
                    <a href="" class="btn btn-primary">100€</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: 'http://127.0.0.1:8000/api/ads/',
                method: 'GET',
                dataType: 'json',
                success: function (ads) {
                    // Manipula los datos obtenidos aquí
                    show(ads);
                },
                error: function () {
                    // Maneja los errores en caso de que la solicitud falle
                    $('#ads-list').text('Error al obtener los datos de la API.');
                }
            });
        });

        function show(ads) {
            // Realiza las operaciones necesarias para mostrar los datos en el elemento HTML
            $('#ads-list').text(JSON.stringify(ads));
        }
    </script>
{% endblock %}