{% extends "template.html" %}

{% block content %}
    <div class="container">

        <div id="edit" class="mt-3 mb-4">
            <button class="btn btn-secondary" onclick="window.history.back()">Enrere</button>
        </div>
        <h1 id="username"></h1>
        <hr class="hr"/>
        <div class="row">
            <div class="col-sm">
                <img id="avatar" width="300" src="" alt="Avatar">
            </div>
            <div class="col-sm mt-3">
                <h2 id="username2"></h2>
                <p id="description"></p>
            </div>
        </div>
        <div class="mt-4">
            <h1>Anuncis</h1>
            <hr class="hr"/>
            <div class="row row-cols-1 row-cols-md-3">
                {% for ad in ads %}
                    <div class="col mb-4">
                        <div class="card h-100">
                            {% load static %}
                            <img src="{{ MEDIA_URL }}/{{ ad.image }}" class="card-img-top" alt="Product image">
                            <div class="card-body">
                                <h5 class="card-title">{{ ad.product_name }}</h5>
                                <p class="card-text">{{ ad.description }}</p>
                                <a href="{{ ad.get_absolute_url }}" class="btn btn-primary">{{ ad.price }}€</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="content"></div>
    <script>
        var logged_user;
        $.ajax({
            url: 'http://127.0.0.1:8000/api/retrieve-user',
            method: 'GET',
            async: false,
            headers: {
                'Authorization': 'Token ' + localStorage.getItem('token')
            },
            success: function (response) {
                logged_user = response
                console.log(response)
            },
            error: function (xhr, textStatus, errorThrown) {
                // Handle the error
                console.error('Error:', errorThrown);
            }
        });

        var url = window.location.href;
        var id = url.substring(url.lastIndexOf('/') + 1);

        if (id == logged_user.id) {
            var text = '<a id="edit" role="button" class="btn btn-outline-primary" href="">Editar perfil</a>';
            $('#edit').append(text);
        }

        $(document).ready(function () {
            var url = window.location.href;
            var id = url.substring(url.lastIndexOf('/') + 1);
            // alert(id); // 234234234

            $.ajax({
                url: '/api/users/' + id + '/',
                method: 'GET',
                dataType: 'json',
                success: function (info) {
                    show(info);
                },
                error: function () {
                    console.log("No s'han pogut obtenir les dades");
                    $('#content').text("No s'han pogut obtenir les dades");
                }
            });
        });

        function show(info) {
            $('#avatar').attr('src', info.userinfo.avatar)
            $('#username').text(info.username)
            $('#username2').text(info.username)
            $('#description').text(info.userinfo.description)

            // $('#content').text("USERINFO: " + JSON.stringify(info));
        }
    </script>
{% endblock %}